<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

    <display-name>Банк «Рога и копыта»</display-name>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>messages</param-value>
    </context-param>

    <servlet>
      <servlet-name>UserListController</servlet-name>
      <servlet-class>controller.UserListController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/user/list.html</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>UserEditController</servlet-name>
      <servlet-class>controller.UserEditController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserEditController</servlet-name>
        <url-pattern>/user/edit.html</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>UserSaveController</servlet-name>
      <servlet-class>controller.UserSaveController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserSaveController</servlet-name>
        <url-pattern>/user/save.html</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>UserDeleteController</servlet-name>
      <servlet-class>controller.UserDeleteController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserDeleteController</servlet-name>
        <url-pattern>/user/delete.html</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
